<section class="p-10 my-14 bg-gray-200 m-auto md:w-1/2">
  <div class="container">
    @if (step===1) {
    <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
      <app-input
        [control]="verifyEmail.get('email')"
        [typeInput]="'email'"
        [labelInput]="'Email'"
        [idInput]="'email'"
      ></app-input>
      <button class="btn">VerifyEmail</button>
    </form>
    } @else if (step===2) {
    <form [formGroup]="verifyCode" (ngSubmit)="formStep2()">
      <app-input
        [control]="verifyCode.get('email')"
        [typeInput]="'text'"
        [labelInput]="'resetCode'"
        [idInput]="'resetCode'"
      ></app-input>
      <button class="btn">VerifyCode</button>
    </form>
    } @else if (step===3) {
    <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">
      <app-input
        [control]="resetPassword.get('email')"
        [typeInput]="'email'"
        [labelInput]="'Email'"
        [idInput]="'email'"
      ></app-input>
      <app-input
        [control]="resetPassword.get('newPassword')"
        [labelInput]="'newPassword'"
        [idInput]="'newPassword'"
      ></app-input>
      <button class="btn">resetPassword</button>
    </form>
    }
  </div>
</section>
